<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />
</head>

<body>
    <header>
        <h1>Lista de Pessoas Fisicas</h1>
    </header>
    <nav>
        <a href="#">Página inicial</a>
        <a href="#">Sobre</a>
        <a href="#">Contato</a>
    </nav>
    <section>
        <div class="principal">
            <table class="tabela">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Editar</th>
                </tr>
                <tr th:each="pessoaFisica : ${pessoaFisicas}">
                    <td><a th:href="@{/pessoaFisicas/{pessoaFisicaId}(pessoaFisicaId=${pessoaFisica.id})}" th:utext="${pessoaFisica.id}">...</a></td>
                    <td><a th:href="@{/pessoaFisicas/{pessoaFisicaId}(pessoaFisicaId=${pessoaFisica.id})}" th:utext="${pessoaFisica.nome}">...</a></td>
                    <td th:utext="${pessoaFisica.telefone}">...</td>
                    <td th:utext="${pessoaFisica.email}">...</td>
                    <td><a th:href="@{/pessoaFisicas/{pessoaFisicaId}/editar(pessoaFisicaId=${pessoaFisica.id})}">Editar</a></td>
                </tr>
            </table>
        </div>
    </section>

    <footer></footer>
</body>

</html>